body{
    
}

header{
    background-repeat: repeat;
    background-image: url(img/pattern.png);
    background-color: rgb(78,160,255);

}

#logo{
    width: 15%;
    padding-top: 4%;
    margin-bottom: 10px;;    
}

#titolo_articolo{
    font-size: 65px;
    padding-right: 15%;
    padding-top: 15px;
    margin: 0;


}

.testo_secondario{
    font-size: 30px;
    margin: 0;
    color:rgb(163,163,163) ;
}

#data_articolo{
    color: rgb(163,163,163);
   
}

#foto{
    margin-top: 20px;
}
