body{
    
}

header{
    background-repeat: repeat;
    background-image: url(img/pattern.png);
    background-color: rgb(78,160,255);

}

#logo{
    width: 15%;
    padding-top: 4%;
    margin-bottom: 10px;;    
}

#titolo_articolo{
    font-size: 65px;
    padding-right: 15%;
    padding-top: 15px;
    margin: 0;


}

.testo_secondario{
    font-size: 30px;
    margin: 0;
    color:rgb(163,163,163) ;
}

#data_articolo{
    color: rgb(163,163,163);
   
}

#foto{
    margin-top: 20px;
}


.didascalia{
    margin:0;
}

.mark{
    background-color: rgb(255,255,0) ;
}

/*cercavo il modo per togliere i bordi bianchi nella tabella
*/
table{
    width: 100%;
    border: 0px solid;
/*     ho provato a dargli 0px come boordo tabella
 */
}


td{
    width: 10%;
}
thead{
    text-align: left;
    background-color: rgb(32,169,229);
}
.tr_lightblue{
    background-color: rgb(177,229,242);
}


